@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

/* ---------- COLOR PALETTES ---------- */
:root {
  --purple: #9555a8;
  --darkpurple: #1d1a31;
  --whiteseasalt: #f4f7f5;
  --vibeorange: #ffad05;
  --vibeblue: #5995ed;
  --iconHTML: #fc4703;
  --iconCSS: #1b97f3;
  --iconJS: #ffe000;
}

/* ---------- GENERAL ---------- */
html{
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--whiteseasalt);
  font-family: "Roboto Slab", sans-serif;
}
.container{
  margin: 0 3rem;
}

/* ---------- NAVBAR ---------- */
.cont_navbar {
  position: sticky;
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  padding: 1em;
  top: 0;
  background: var(--darkpurple);
}
.logo_img{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--vibeorange);
  text-decoration: none;
}
.cont_text_links {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
}
.text_links {
  font-size: 18px;
  font-weight: 500;
  color: var(--vibeorange);
  text-decoration: none;
}
.text_links a:hover {
  color: var(--vibeblue);
  transition: all 0.6s ease;
}

/* ---------- SECTION PRESENTATION ---------- */
.section_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6em;
}
.container_intro {
  display: flex;
  gap: 1rem;
  margin: 4rem 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title_intro {
  font-size: 3em;
  font-weight: 600;
}
.title_unic {
  color: var(--vibeorange);
}
.subtitle_intro{
  font-size: 2em;
  font-weight: 600;
  color: rgb(80, 80, 80);
}
.img_intro {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

/* ---------- SECTION SKILL BAR ---------- */
.container_skills {
  display: flex;
  justify-content: center;
  margin-bottom: 6em;
}
.skills_item {
  display: grid;
  gap: 1.5rem;
  width: 650px;
  padding: 20px 30px;
  border-radius: 10px;
  background: var(--darkpurple);
}
.subtitle_skills {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--vibeorange);
}
.skills_icon{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: .5rem;
}
.skills_icon a{
  padding: 10px;
}


/* ---------- SECTION PROJECTS ---------- */
.container_projects {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 20px;
  margin-bottom: 6em;
}
.subtitle_projects {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 2em;
  font-size: 26px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}
.projects_title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  font-size: 22px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}
.projects_cont_img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.projects_img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  border: 2px solid var(--darkpurple);
  object-fit: contain;
}
.links_projects {
  display: flex;
  justify-content: center;
}
.link_projects {
  display: flex;
  justify-content: space-evenly;
  margin: 14px;
  margin-bottom: 1.5rem;
  font-size: 38px;
  color: var(--vibeorange);
  text-decoration: none;
}
.link_projects:nth-of-type(1) {
  color: var(--iconHTML);
}
.link_projects:nth-of-type(2){
  color: var(--iconCSS);
}
.link_projects:nth-of-type(3){
  color: var(--iconJS);
}
.preview_project {
  display: flex;
  justify-content: center;
}
.link_preview_project {
  color: var(--vibeorange);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
.link_preview_project:hover {
  color: var(--darkpurple);
}

/* ---------- FOOTER ---------- */
.footer {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  background-color: var(--darkpurple);
  color: var(--whiteseasalt);
}
.footer_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.footer_links {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.footer_icon {
  color: var(--whiteseasalt);
  font-size: 28px;
  margin: 1em;
  margin-bottom: 1em;
  transition: all 0.6s ease;
}
.footer_icon:hover {
  color: var(--vibeorange);
}
.footer_paragraph {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 500;
}
.footer_cont_img {
  display: flex;
  justify-content: center;
}
.footer_collapse_arrow {
  display: flex;
  flex-flow: row wrap;
  width: 60px;
  height: 50px;
}

/* ---------- RESPONSIVE DESIGN ---------- */
@media (min-width: 768px) {
  .cont_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cont_text_links {
    display: flex;
    flex-direction: row;
  }
  .text_links{
    padding: .5rem;
  }
  .projects_img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
  }
}